{% extends "layout.html" %}

{% block title %}
    Add Inventory
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="form-group">
            <input name="name" placeholder="Name" type="text" style='width: 150px' class='custom-input'>
            <select name="category" class='custom-input'>
              <option value="Tubes">Tubes</option>
              <option value="Motors">Motors</option>
              <option value="Materials">Materials</option>
            </select>
            <input name="quantity" placeholder="Quantity" type="number" min='1' step ='1' style='width: 100px' class='custom-input'>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
