{% extends "layout.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block main %}
    <h3>Current inventory:</h3>
    <table>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Quantity
        </th>
        {% for item in items %}
        <tr class='table-body'>
            <td>{{ item['name'] }}</td>
            <td>{{ item['category'] }}</td>
            <td>{{ item['quantity'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
