{% extends "layout.html" %}

{% block title %}
    Parts
{% endblock %}

{% block main %}

    <script>
        const inputGroups = document.getElementsByClassName("input_group");
        $(document).ready(function () {
            toggleFields();

            $("#category").change(function () {
                toggleFields();
            });

        });

        function toggleFields() {
            for (let i = 0; i < inputGroups.length; i++) {
                $(inputGroups[i]).hide();
            }
            let dropdown = $("#category").val()
            $("#" + dropdown + "_input").show();
        }
    </script>

    <h3>Add Part</h3>
    <form action="/parts" method="post">
        <div class="form-group">
            <select name="category" style='width: 150px' class='custom-input' id='category'>
                {% for section in data %}
                    <option value="{{ section[2] }}">{{ section[2] }}</option>
                {% endfor %}
            </select>
        </div>
        
        {% for section in data %}
            <div class="form-group input_group" id="{{ section[2] }}_input">
                {% for column in section[3] %}
                    <input name="{{ section[1] }}_{{ column }}" placeholder="{{ column }}" type="text" style='width: 150px' class='custom-input'>
                {% endfor %}
            </div>
        {% endfor %}
        
        <button class="btn btn-primary" type="submit" name="submit" value="submit">Submit</button>
    </form>

    {% for section in data %}
        <h3 style='padding-top: 25px;'>{{ section[2] }}</h3>
        <table>
            {% for column in section[3] %}
                <th>{{ column }}</th>
            {% endfor %}
                <th>Change</th>
                <th>Update</th>
                <th>Remove</th>
            {% for entry in section[0] %}
                <tr class='table-body'>
                    {% for field in entry[1:] %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    <form action="/parts" method="post">
                        <td><input name="{{ section[1] }}_{{ entry[0] }}_change" value="{{ section[1] }}_{{ entry[0] }}_change" placeholder="Change Inventory" type="number" step='1' style='width: 150px' class='custom-input'></td>
                        <td><button class="btn btn-info" type="update" name="{{ section[1] }}_{{ entry[0] }}_update" value="{{ section[1] }}_{{ entry[0] }}_update">Update</button></td>
                        <td><button class="btn btn-danger" type="remove" name="{{ section[1] }}_{{ entry[0] }}_remove" value="{{ section[1] }}_{{ entry[0] }}_remove">Remove</button></td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
