{% extends "layout.html" %}

{% block title %}
    Parts
{% endblock %}

{% block main %}

    <script>
        $(document).ready(function () {
            toggleFields();

            $("#category").change(function () {
                toggleFields();
            });

        });

        function toggleFields() {

            if ($("#category").val() === "Tubes")
                $("#tube_input").show();
            else
                $("#tube_input").hide();

            if ($("#category").val() === "Motors")
                $("#motor_input").show();
            else
                $("#motor_input").hide();

            if ($("#category").val() === "Materials")
                $("#material_input").show();
            else
                $("#material_input").hide();

            if ($("#category").val() === "Recovery")
                $("#recovery_input").show();
            else
                $("#recovery_input").hide();
        }
    </script>

    <h3>Add Part</h3>
    <form action="/parts" method="post">
        <div class="form-group">
            <select name="category" style='width: 150px' class='custom-input' id='category'>
              <option value="Tubes">Tubes</option>
              <option value="Motors">Motors</option>
              <option value="Materials">Materials</option>
              <option value="Recovery">Recovery</option>
            </select>
        </div>

        <div class="form-group" id="tube_input">
            <input name="tube_name" placeholder="Name" type="text" style='width: 150px' class='custom-input'>
            <input name="tube_length" placeholder="Length (mm)" type="text" style='width: 150px' class='custom-input'>
            <input name="tube_inner_diameter" placeholder="ID (mm)" type="text" style='width: 150px' class='custom-input'>
            <input name="tube_outer_diameter" placeholder="OD (mm)" type="text" style='width: 150px' class='custom-input'>
            <input name="tube_weight" placeholder="Weight (g)" type="text" style='width: 150px' class='custom-input'>
            <input name="tube_quantity" placeholder="Quantity" type="text" style='width: 150px' class='custom-input'>
        </div>

        <div class="form-group" id="motor_input">
            <input name="motor_class" placeholder="Class" type="text" style='width: 150px' class='custom-input'>
            <input name="motor_average_thrust" placeholder="Number" type="number" min='1' step='1' style='width: 150px' class='custom-input'>
            <input name="motor_delay" placeholder="Delay" type="number" min='1' step='1' style='width: 150px' class='custom-input'>
            <input name="motor_weight" placeholder="Weight (g)" type="text" style='width: 150px' class='custom-input'>
            <input name="motor_quantity" placeholder="Quantity" type="text" style='width: 150px' class='custom-input'>
        </div>

        <div class="form-group" id="material_input">
            <input name="material_type" placeholder="Type" type="text" style='width: 150px' class='custom-input'>
            <input name="material_length" placeholder="Length (mm)" type="text" style='width: 150px' class='custom-input'>
            <input name="material_width" placeholder="Width (mm)" type="text" style='width: 150px' class='custom-input'>
            <input name="material_thickness" placeholder="Thickness (mm)" type="text" style='width: 150px' class='custom-input'>
            <input name="material_weight" placeholder="Weight (g)" type="text" style='width: 150px' class='custom-input'>
            <input name="material_quantity" placeholder="Quantity" type="text" style='width: 150px' class='custom-input'>
        </div>

        <div class="form-group" id="recovery_input">
            <input name="recovery_name" placeholder="Name" type="text" style='width: 150px' class='custom-input'>
            <input name="recovery_type" placeholder="Type" type="text" style='width: 150px' class='custom-input'>
            <input name="recovery_size" placeholder="Size" type="text" style='width: 150px' class='custom-input'>
            <input name="recovery_weight" placeholder="Weight (g)" type="text" style='width: 150px' class='custom-input'>
            <input name="recovery_quantity" placeholder="Quantity" type="text" style='width: 150px' class='custom-input'>
        </div>
        <button class="btn btn-primary" type="submit" name="submit" value="submit">Submit</button>
    </form>

    {% for i in range(len(tables)) %}
        <h3 style='padding-top: 25px;'>{{ names[i] }}</h3>
        <table>
            {% for column in columns[i] %}
                <th>{{ column }}</th>
            {% endfor %}
            {% for j in range(len(tables[i])) %}
                <tr class='table-body'>
                    {% for v in range(1, len(columns)) %}
                        <td>{{ tables[i][j][v] }}</td>
                    {% endfor %}
                    <form action="/parts" method="post">
                        <td><input name="{{ names[i] }}_{{ tables[i][j][0] }}_change" value="{{ names[i] }}_{{ tables[i][j][0] }}_change" placeholder="Change Inventory" type="number" step='1' style='width: 150px' class='custom-input'></td>
                        <td><button class="btn btn-info" type="update" name="{{ names[i] }}_{{ tables[i][j][0] }}_update" value="{{ names[i] }}_{{ tables[i][j][0] }}_update">Update</button></td>
                        <td><button class="btn btn-danger" type="remove" name="{{ names[i] }}_{{ tables[i][j][0] }}_remove" value="{{ names[i] }}_{{ tables[i][j][0] }}_remove">Remove</button></td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
